body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

img {
    width: 100%;
}



h1 {
    font-family: 'von_bond_regularregular';
    font-size: 2rem;
    letter-spacing: 0.3rem;
    color: #707070;
    margin-top: 5px;

    text-transform: uppercase;
    text-align: center;

}


h2 {
    font-size: 0.5rem;
    letter-spacing: 0.3rem;
    color: #707070;

    margin-bottom: 0;
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
}

.h1_underline {
    display: inline-block;
    width: 80%;
    height: 2px;
    background-color: rgb(226, 226, 226);
}

a {
    text-decoration: none;
    color: #707070;
}

@font-face {
    font-family: 'von_bond_regularregular';
    src: url('vonbond-regular-webfont.woff2') format('woff2'),
        url('vonbond-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*****NAVIGATIONS BAR OG BURGER MENU******/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #B59090;
    font-family: 'Raleway', sans-serif;
    color: rgb(226, 226, 226);
}

.logo {
    color: rgb(226, 226, 226);
    letter-spacing: 5px;

}

.nav_links {
    display: flex;
    justify-content: space-around;
    width: 40%;

}

.nav_links li {
    list-style: none;
}

.nav_links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: lighter;

}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;

}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);

    }
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/****** PORTFOLIO *****/


/*
.portfolio {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;

}
*/

.category {
    width: 250px;
    height: 250px;
    padding-bottom: 60px;
    transition: all .3s ease-in-out;
}



.category_txt {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-align: center;
    position: relative;
    width: 85%;
    box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    transition: all .3s ease-in-out;
}


.category_txt:hover {
    /*    box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);*/
    transform: scale(1.2);
}

.category:hover {
    transform: scale(1.2);
}

.lined_thin {
    border: solid 2px #41403E;
}




/**************WEB********************/


/*
.web_con {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    margin-left: 55px;
    margin-right: 20px;
}

*/


.laptop_icon {
    width: 50px;
    height: 50px;
    left: 50%;


}


/*********** ROW & COLUMN ****************/

.page_wrapper {
    margin-left: 125px;
    margin-right: 125px;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

}

.column_txt {
    height: 100%;
    padding-right: 50px;
}

.column_pic {
    height: 100%;


}

/**************RESPONSIVE*****************/


@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    h1 {
        font-size: 2rem;
        letter-spacing: 0.3rem;
        color: #707070;
        text-align: center;
        margin: 0;
    }

    h2 {
        font-size: 0.5rem;
        letter-spacing: 0.3rem;
        color: #707070;
        text-align: center;
        margin: 0;
        margin-top: 10px;
    }

    .h1_underline {
        display: inline-block;
        width: 80%;
        height: 2px;
        background-color: rgb(226, 226, 226);
    }

    .nav_links {
        position: absolute;
        right: 0px;
        height: 100%;
        top: 3vh;
        background-color: #B59090;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }


    .nav_links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .nav_active {
        transform: translateX(0%);
    }

    .portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }

    .category {

        width: 250px;
        height: 250px;
        padding-top: 30px;
    }

    .category_txt:hover {
        /*    box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);*/
        transform: none;
    }

    .category:hover {
        transform: none;
    }

    #web_con {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-decoration: none;
        align-items: center;
    }


    .web_txt {
        width: 90%;
        padding-bottom: 10px;
    }

    .laptop_icon {
        width: 50px;
        height: 50px;
    }

    .desktop {
        width: 90%;
    }

}
