body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


/*****NAVIGATIONS BAR OG BURGER MENU******/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #B59090;
    font-family: 'Raleway', sans-serif;
    color: rgb(226, 226, 226);
}

.logo {
    color: rgb(226, 226, 226);
    letter-spacing: 5px;

}

.nav_links {
    display: flex;
    justify-content: space-around;
    width: 40%;

}

.nav_links li {
    list-style: none;
}

.nav_links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: lighter;

}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;

}


@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .nav_links {
        position: absolute;
        right: 0px;
        height: 100%;
        top: 3vh;
        background-color: #B59090;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }


    .nav_links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .nav_active {
        transform: translateX(0%);
    }

    .portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }

    .category {
        position: relative;
        width: 250px;
        height: 250px;
        padding-bottom: 60px;
        padding-top: 55px;
    }

}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);

    }
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/****** PORTFOLIO *****/


.portfolio h1 {
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    color: #707070;

}

.portfolio {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.category {
    position: relative;
    width: 250px;
    height: 250px;
    padding-bottom: 60px;
    padding-top: 55px;
    align-items: baseline;
}

.category a {
    text-decoration: none;
    color: #707070;

}

.category_txt {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-align: center;
    position: relative;
    box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    transition: all .5s ease;
}


.category_txt:hover {
    box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}

.lined_thin {
    margin-top: 30px;
    border: solid 2px #41403E;
}
