body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

img {
    width: 100%;
}

.headlines {
    display: flex;
    align-content: center;
}

h1 {
    font-family: 'von_bond_regularregular';
    font-size: 2rem;
    letter-spacing: 0.3rem;
    color: #707070;
    margin-top: 5px;
    margin-bottom: 7px;
    text-transform: uppercase;
    text-align: center;

}


h2 {
    font-size: 0.5rem;
    letter-spacing: 0.3rem;
    color: #707070;

    margin-bottom: 0;
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-family: 'von_bond_regularregular';
    font-weight: lighter;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;


}

.h1_underline {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 25px;
    width: 80%;
    height: 2px;
    background-color: rgb(226, 226, 226);
}

a {
    text-decoration: none;
    color: #707070;
}



/******FONTE*******/


@font-face {
    font-family: 'von_bond_regularregular';
    src: url('vonbond-regular-webfont.woff2') format('woff2'),
        url('vonbond-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fragment_coreroman';
    src: url('fragmentcore-webfont.woff2') format('woff2'),
        url('fragmentcore-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'white_angelicaregular';
    src: url('whiteangelica-webfont.woff2') format('woff2'),
        url('whiteangelica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*****NAVIGATIONS BAR OG BURGER MENU******/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #B59090;
    font-family: 'Raleway', sans-serif;
    color: rgb(226, 226, 226);
}

.logo {
    color: rgb(226, 226, 226);
    font-family: 'white_angelicaregular';

}

.logo a {
    color: rgb(226, 226, 226);
}

.nav_links {
    display: flex;
    justify-content: space-around;
    width: 40%;

}

.nav_links li {
    list-style: none;
}

.nav_links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: lighter;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.nav_links a:hover {
    font-weight: bold;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;

}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);

    }
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/****** PORTFOLIO *****/


.category {
    width: 250px;
    height: 250px;
    padding-bottom: 25px;
    transition: all .3s ease-in-out;
}



.category_btn {

    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    padding: 8px 50px;
    margin: 4px 2px;
    box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    transition: all .3s ease-in-out;

}

.lined_thin {
    border: solid 2px #41403E;
}

.category:hover {
    transform: scale(1.2);
}

.button {
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;

    box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.button1 {
    color: white;
    border: 2px solid white;
}




/**************About page********************/


.icon {
    display: block;
    width: 3.5%;
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
}


.overlay {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 50px;
    padding-right: 40px;

    margin-bottom: 30px;

}

.media {
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.layer {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 90%;
    background: #FFF;
    color: #151E3F;
    transition: all 0.9s ease;


}


.layer p {
    font-family: 'Inconsolata', monospace;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;

    transition: all 0.9s ease;
    transform: scale(0.1)
}

.media:hover .layer {
    opacity: 0.8;
    width: 90%;
    transition: all 0.5s ease;

}

.media:hover .layer p {
    transform: scale(1);
    transition: all 0.9s ease;
}



/*********** PAGES SETUP ****************/

.page_wrapper_green {
    padding-left: 70px;
    padding-right: 80px;
    margin-bottom: 50px;
    background-color: #C7D3D3;
}

.page_wrapper_orange {
    padding-left: 70px;
    padding-right: 80px;
    margin-bottom: 50px;
    background-color: #E59B7F;
}


.page_wrapper {
    padding-left: 50px;
    padding-right: 40px;
    margin-bottom: 50px;

}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.row_icons {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 0 auto;
}

.column_txt {
    height: 100%;
    color: white;
    margin-top: 30px;
    padding: 10px 50px 50px 50px;
    line-height: 1.6;
    border-radius: 5px;

}

.column_pic {
    width: 100%;
    padding: 20px;
}

.column_video {
    width: 100%;
    padding-top: 40px;
    margin: 10px;
}


.about_column_pic {
    width: 100%;
}


.about_column_txt {
    height: 100%;
    background-color: white;

    padding: 10px 50px 0px 50px;
    line-height: 1.6;
    border-radius: 5px;
}

/**************RESPONSIVE*****************/
@media (max-width: 600px) {
    .wrapper {
        display: block;
        margin: 0px 45px;
        10px 45px;
        pointer-events: none;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    h1 {
        font-size: 2rem;
        letter-spacing: 0.3rem;
        color: #707070;
        text-align: center;
        margin: 0;
    }

    h2 {
        font-size: 0.5rem;
        letter-spacing: 0.3rem;
        color: #707070;
        text-align: center;
        margin: 0;
        margin-top: 10px;
    }

    .h1_underline {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 25px;
        width: 80%;
        height: 2px;
        background-color: rgb(226, 226, 226);
    }

    .nav_links {
        position: absolute;
        right: 0px;
        height: 100%;
        top: 3vh;
        background-color: #B59090;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }


    .nav_links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .nav_active {
        transform: translateX(0%);
    }

    .portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }

    .category {

        width: 250px;
        height: 250px;
        padding-top: 30px;
    }

    .category_txt:hover {
        box-shadow: none;
    }

    .category:hover {
        transform: none;
    }

    .page_wrapper {
        margin: 0px auto;
        background-color: white;
        padding: 0;
    }

    .page_wrapper_green {
        margin: 0px auto;
        padding: 0;
        background-color: #C7D3D3;
    }


    .page_wrapper_orange {
        margin: 0px auto;
        padding: 0;
        background-color: #C57F5D;
    }


    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: center;
    }

    .column_pic {
        padding: 10px;
    }

    .column_txt {
        height: 100%;
        padding-bottom: 20px;
        padding-right: none;
        margin: 0px auto;
        border-radius: 0px;
    }

    .icon {
        width: 8%;
        margin: 30px auto 30px auto;
        transition: all .3s ease-in-out;
    }

    .icon:hover {
        transform: none;
    }


}
